.container{
    width: 300px;
    padding: 20px;
    border-radius: 25px 25px 25px 25px;
    margin: 100px auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#bd09b7, #6b4cf5);
    box-shadow: 7px 7px 15px #592A08; 
    }

  label{
    display: inline-block;
    padding: 10px 0 0 0;
  }

.formControl{
    display: block;
    padding: 7px;
    width: 100%;
  }


.boton{

    padding: 5px 15px 5px 15px;
}

.principalButton{

    text-align: right;
    
}


@media (min-width: 500px) {
    
   .container{
      width: 300px;
    }
  }

